*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
.ham{
    display: none;
}
.ham a{
    font-size: 35px;
}
.cross{
    font-size: 36px;
    display: none;
}

nav{
    /* background-color: rgb(46, 38, 38); */
    background-color: white;
    color: black;
    padding: 12px;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
}
a{
    display: inline-block;
    position: relative;
    padding: 15px 20px;
    font-weight: bold;
}
nav ul li a::after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
nav ul li a:hover::after { 
    width: 100%; 
    left: 0; 
  }
.nav-style{
    margin: 5px 12px;
    letter-spacing: 0.15em;
}
nav h1{
    padding: 15px 20px;
}
.cta-banner{
    background-image: url('cta-banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    height: 50vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cta-banner .content{
    padding: 0 7rem;
}
.cta-banner .content h1{
    font-size: 48px;
}
.cta-banner .content p{
    font-size: 21px;
}
.cta-banner .content button{
    padding: 12px;
    background: none;
    border: 1px solid white;
    color: white;
}
.cta-banner .content button:hover{
    cursor: pointer;
    color: black;
    background-color: white;
    transition: 0.3s;
}
.cta-s{
    margin: 12px 0;
    letter-spacing: 0.1rem;
}
.r-cont{
    margin: 12px;
}
.r-cont .content{
    width: 80%;
    margin: auto;
}
.r-cont .content .cards{
    display: flex;
    flex-wrap: wrap;
    margin: 12px 0;
    justify-content: center;
}
.r-cont .content .card{
    border: 2px solid green;
    width: 430px;
    margin: 12px;
}
.r-cont .content .card-content{
    padding: 12px;
    margin: 12px;
}
.r-cont .content .card img{
    width: 100%;
}

/* footer design */
footer{
    background-color: rgb(43, 36, 36);
    color: white;
    padding: 12px;
}
footer .rows{
    display: flex;
    flex-direction: row;
    /* margin: 12px; */
}
footer .rows .row{
    margin: 0 12px;
    padding: 12px;
    flex: 33.333333%;
    flex-wrap: wrap;
}
footer .rows .row li{
    padding: 12px;
}
/* about design */

/* about design ends */
@media screen and (max-width: 940px){
    nav{
        padding: 3px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: white;
        color: black;
    }

    .ham{
        display: block;
    }
    nav ul{
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        height: 100%;
        width: 100%;
        margin: 0;
        display: none;
    }
    .cta-banner{
        height: 60%;
    }
    .ul-show{
        display: flex;
    }
    .cross{
        display: block;
    }
}
